# Workspace dependencies
node_modules/
package-lock.json

# Compilation build outputs
build-outputs/
dist/
frontend/dist/

# OS specific files
.DS_Store
Thumbs.db

# IDE and Editor configurations
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Android specific ignores
.gradle/
**/build/
android/.gradle/
android/local.properties
android/app/build/
*.apk
*.aar

# Rust specific ignores
src-tauri/target/
Cargo.lock
